#myTable input {
	margin-left: 5px;
}

#myTable {
	border:2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
}
#myTable td, th {
	border:1px solid green;
	padding: 5px;
}
#myTable th {
	color: #fff;
	background-color: #a7c942;
}
#button {
	color:#fff;
	background-color: gray;
	border-radius: 3px;
	border:2px solid gray;
	margin-left: 180px;
	cursor: not-allowed;
}
#button.enabled {
	background-color: orange;
	border-color: orange;
	cursor: pointer;
}
#add {
	margin-left: 10px;
}
.dropDownTextArea {
	display: none;
}
.arrow {
	cursor: pointer;
}
#studentInfo {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 40px;
}